# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [10]:
CREATE TABLE rajani.planned_makes(
     hobby_id INT IDENTITY(101,1) PRIMARY KEY,
     descripton VARCHAR (255) NOT NULL,
     types VARCHAR(255) NOT NULL
)

In [16]:
CREATE TABLE rajani.planned_makes_inventory(
     inventory_id INT IDENTITY(101,1) PRIMARY KEY,
     inventory VARCHAR (255) NOT NULL,
     st_date DATE NOT NULL,
     hobby_id INT
     CONSTRAINT hobby_id_fk FOREIGN KEY (hobby_id) REFERENCES rajani.planned_makes(hobby_id)
        ON UPDATE SET NULL
        ON DELETE SET NULL
     
)

Add three rows to your table that are your planned makes.

In [18]:
-- INSERT INTO rajani.planned_makes(descripton,types)
-- VALUES ('Painting', 'Art&craft'),
-- ('Tennis', 'Sports'),
-- ('Social Service', 'Spiritual');
SELECT * FROM rajani.planned_makes

hobby_id,descripton,types
101,Painting,Art&craft
102,Tennis,Sports
103,Social Service,Spiritual

In [26]:
-- INSERT INTO rajani.planned_makes_inventory (inventory,st_date,hobby_id)
-- VALUES ('Colors','2023-08-22', '101')
-- INSERT INTO rajani.planned_makes_inventory (inventory,st_date,hobby_id)
-- VALUES('Pencil','2023-08-22', '101')
-- INSERT INTO rajani.planned_makes_inventory (inventory,st_date,hobby_id)
-- VALUES('Drawing book','2023-08-22', '101')
-- INSERT INTO rajani.planned_makes_inventory (inventory,st_date,hobby_id)
-- VALUES('Tennis racket','2023-08-22', '102')
-- INSERT INTO rajani.planned_makes_inventory (inventory,st_date,hobby_id)
-- VALUES('Tennis balls','2023-08-22', '102')
-- INSERT INTO rajani.planned_makes_inventory (inventory,st_date,hobby_id)
-- VALUES('Soup','2023-08-22', '103')
-- INSERT INTO rajani.planned_makes_inventory (inventory,st_date,hobby_id)
-- VALUES('Bread','2023-08-22', '103')

SELECT * FROM rajani.planned_makes_inventory

inventory_id,inventory,st_date,hobby_id
101,Colors,2023-08-22,101
102,Pencil,2023-08-22,101
103,Pencil,2023-08-22,101
104,Drawing book,2023-08-22,101
105,Tennis racket,2023-08-22,102
106,Tennis balls,2023-08-22,102
107,Soup,2023-08-22,103
108,Bread,2023-08-22,103

## Update a Row

Change different values in one of your three rows.

In [29]:
UPDATE rajani.planned_makes_inventory
SET 
    inventory = 'Paint'
WHERE
    inventory_id = 102;

    SELECT * FROM rajani.planned_makes_inventory

inventory_id,inventory,st_date,hobby_id
101,Colors,2023-08-22,101
102,Paint,2023-08-22,101
103,Pencil,2023-08-22,101
104,Drawing book,2023-08-22,101
105,Tennis racket,2023-08-22,102
106,Tennis balls,2023-08-22,102
107,Soup,2023-08-22,103
108,Bread,2023-08-22,103

## Delete a Row

Delete one of the rows from your table.

In [31]:
-- DELETE  rajani.planned_makes_inventory 
-- WHERE inventory_id = '103'

 SELECT * FROM rajani.planned_makes_inventory

inventory_id,inventory,st_date,hobby_id
101,Colors,2023-08-22,101
102,Paint,2023-08-22,101
104,Drawing book,2023-08-22,101
105,Tennis racket,2023-08-22,102
106,Tennis balls,2023-08-22,102
107,Soup,2023-08-22,103
108,Bread,2023-08-22,103

## Drop the Table

While this has been fun, it is time to drop the table!

In [33]:
DROP TABLE rajani.planned_makes_inventory 

--  SELECT * FROM rajani.planned_makes_inventory

: Msg 3701, Level 11, State 5, Line 1
Cannot drop the table 'rajani.planned_makes_inventory', because it does not exist or you do not have permission.